body{
    background-color: black;
    background-image: url(image/Background-Levroché\ le\ coup-resturant.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px
    
}

header {
    height: 500px;
    text-align: center;
}

nav {
    background-color: black;
    text-align: center;
    padding-bottom: 14px;
}

main {
    height: 50px;
    text-align: center;
    margin-top: 50px;
    padding-left: 250px;
    padding-right: 250px; 
    
}

footer {
    padding-bottom: 1000px;
}

h2 {
    font-size: 64px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 25px;
  color: rgb(87, 34, 87);
  font-family: Arial, Helvetica, sans-serif;  
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

nav a{
    text-decoration: underline;
}

footer p{
    font-size: 10px;
    text-align: bottom;

}

.maps{
    padding-bottom: 100px;

}

.gallery {
    padding-right: auto;
    padding-left: auto;
}